#mainbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 620px;
    border-radius: 10px;
    z-index: 2;
    background-color: rgba(68, 68, 68, 0);
    visibility: hidden; /* Default state */
    opacity: 0; /* Default state */
    transition: opacity 0.3s ease; /* Transition for opacity */
}

/* Class to show the mainbox */
#mainbox.show {
    visibility: visible;
    opacity: 1;
}

#weaponbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: rgba(146, 146, 146, 0);
    border-radius: 5vh;
}

#weapon {
    transition: left 0.4s ease;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#buybutton {
    transition: 0.3s;
    width: 240px;
    height: 80px;
    position: absolute;
    bottom: -26%;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 1vh;
    border: none;
    color: white;
    background-color: rgba(218, 0, 0, 0.466);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 150%;
}

.navigatebutton {
    transition: 0.3s;
    height: 60px;
    width: 140px;
    border: none;
    border-radius: 1vh;
    background-color: rgba(97, 97, 97, 0.466);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 120%;
}

#forwards {
    position: absolute;
    bottom: -26%;
    left: 75%;
    transform: translatex(-50%);
}

#backwards {
    position: absolute;
    bottom: -26%;
    left: 25%;
    transform: translatex(-50%);
}

#price {
    text-shadow: 
                2px 2px 2px rgba(22, 192, 0, 0.767), 
                3px 2px 3px rgba(22, 192, 0, 0.767), 
                2px 2px 3px rgba(22, 192, 0, 0.767), 
                3px 2px 2px rgba(22, 192, 0, 0.767), 
}

#pricebox {
    text-align: center;
    width: 300px;
    height: 70px;
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translatex(-50%);
    border-radius: 1vh;
    border: none;
    color: rgb(27, 228, 0);
    background-color: rgba(172, 172, 172, 0);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
}

#dmg {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    bottom: -8%;
    right: 60%;
    color: rgba(255, 255, 255, 0.767);
    text-shadow: 
                0 0 2px rgba(172, 172, 172, 0.767), 
                0 0 3px rgba(255, 255, 255, 0.767), 
                0 0 3px rgba(192, 192, 192, 0.767), 
                0 0 2px rgba(255, 255, 255, 0.767);
}

#name {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    bottom: -8%;
    left: 60%;
    color: rgba(255, 255, 255, 0.767);
    text-shadow: 
                0 0 2px rgba(172, 172, 172, 0.767), 
                0 0 3px rgba(255, 255, 255, 0.767), 
                0 0 3px rgba(192, 192, 192, 0.767), 
                0 0 2px rgba(255, 255, 255, 0.767);
}

.navigatebutton:active {
    box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.767);
    background-color: rgba(190, 190, 190, 0.527);
}

#buybutton:active {
    box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.767);
    background-color: rgba(190, 190, 190, 0.527);
}

#closebutton {
    transition: 0.1.5s;
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 1vh;
    width: 590px;
    height: 40px;
    border: none;
    background-color: rgba(218, 0, 0, 0.466);
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 110%;
}

#closebutton:active {
    box-shadow: 0 0 20px 5px rgba(94, 94, 94, 0.767);
    background-color: rgba(190, 190, 190, 0.527);
}
